.ipynb_checkpoints
*egg-info
__pycache__
dist
test.ipynb
.pytest_cache
.hypothesis
.coverage
htmlcov
.eggs
**/*.pyc
build
docs/_build
_static
tests/database.ini
api/config.ini
scratchpad.ipynb
.mypy_cache/
.coverage*
postgres-data/
*.db

.DS_Store